<div class="responstable">
<table class="table table-striped table-bordered">    
  <thead>
    <tr>
      <th>NAME</th>
      <th>LOCATION</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.location %></td>
        <td><%= link_to "edit", edit_site_path(site) %></td>
        <td><%= link_to "x", site_path(site), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
